.contacts__logo {
    font-size: 28px;
    margin-bottom: 35px;
    display: block;
}

.contacts__text {
    max-width: 236px;
    margin-bottom: 64px;
}

.contacts__list {
    display: flex;
    gap: 15px;
}

.contacts__link {
    display: block;
    width: 28px;
    height: 28px;
    background: #F2F2F2;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    fill: var(--color-text);
    transition: all .2s;
}

.contacts__link:hover {
    background: var(--color-primary);
    fill: var(--color-bg);
}