@import "contact-us.css";
@import "contacts.css";
@import "mail.css";

.footer {
    margin-top: 140px;
    font-size: 16px;
    line-height: 100%;
}

.footer__infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px;
    flex-wrap: wrap;
    gap: 45px 15px;
}

.footer__title {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 39px;
}

.footer__element:not(:last-child) {
    margin-bottom: 28px;
}

.footer__copyright {
    padding: 40px 0;
    border-top: 1px solid #EDEDED;
    text-align: center;
}

@media (max-width: 720px) {
    .footer__contacts,
    .footer__mail,
    .footer__resources,
    .footer__company {
        width: calc(50% - 15px);
    }
    .footer__resources,
    .footer__company {
        order: 1;
    }
}

@media (max-width: 480px) {
    .footer__contacts,
    .footer__mail,
    .footer__resources,
    .footer__company{
        width: 100%;
    }

    .footer__mail{
        order: 1;
    }
}