.nav {
    padding-top: 30px;
    margin-bottom: 188px;
}

.nav,
.nav__list,
.nav__sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.nav__logo {
    margin-right: auto;
}

.nav__sign {
    gap: 28px;
}

.nav__sign-up {
    width: 152px;
}

.header .btn {
    background-color: #F2F2F2;
}

.header .btn:hover {
    background-color: var(--color-primary);
}

@media (max-width: 1000px) {
    .nav {
        margin-bottom: 150px;
    }

    .nav,
    .nav__list,
    .nav__sign {
        gap: 15px;
    }

    .nav__list {
        order: 1;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav {
        margin-bottom: 100px;
    }

    .nav__sign-up {
        width: 100px;
    }
}